body{
  display: flex;
  align-items: center;
  justify-content: center; 
  font-family:'Courier New', Courier, monospace;
  margin-left:3rem;
  margin-right: 3rem;

}
.container{
align-content: center;
justify-content: center;
}

.subtle{
 
  color: rgb(252, 159, 229);
}
.kindaSubtle{
 
  color: rgb(150, 43, 123);
}

.divider{
  font-size: 50%;
}
#tagline{
  font-weight: bold;

}

.soon{
  font-style: oblique;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  font-size: 85%;
  color: orange;
}
.links{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
font-size: 2rem;
  color: orange;
 padding-top: .5rem;
 align-content: center;


}

#p1{
  font-size: 2rem;
}
a:visited {
  color: orange;
}

hr.rounded {
  border:4px solid rgb(255, 186, 231);
  border-radius: 5px;
  border-collapse: collapse;
  background-color: rgb(255 186 231);
}

.headshot {
 max-width: 200px;
 height: auto;
}

#intro{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width:75%
  
}

.bold {
  font-weight: bold;

}

  ul {
    list-style-type: disc;
    line-height: 1.35;
    font-weight: bold;
  }

  header {
    display: flex;
    color: white;
  align-items: center;
  background-color: rgb(36, 32, 32);
  padding: 1rem;
justify-content: center;
font-size: 2rem;
font-weight: bold;
  }

  h4 {
    background-color: rgb(36, 32, 32);
    color: white;
    padding: 1rem;
    font-size: 1.5rem;
  }